.App {
  padding-top: 36px;
  text-align: center;
  padding-bottom: 36px;
}
.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}
.UsersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}
.UsersList-item {
  margin-bottom: 24px;
}
.CardNameAge {
  width: 100%;
}
.CardNameAge>strong {
   float: right;
}
.card {
  cursor: pointer;
}
.image {
  margin: 0 auto;
  margin-bottom: 20px;
}
.border-no {
  border: none;
  box-shadow: none !important;
}
